body {
	font-size: 20px;
}

p {
	break-inside: avoid;
}

img {
	width: 100%;
	height: auto;
}

.auto-columns {
	column-width: 450px;
}

.nome {
	font-size: larger;
	font-weight: bold;
}
